{{>head}}
{{>navbar}}
{{>header}}


<section class="playerContainer">
    <h3>Active Roster</h3>
    <div class="istock">

        <article class="roster-item">
            <img src="./img/player/boombox.png" alt="Boombox" class="playerPicture">
             <div class="playerName">
                <span class="nickname">Boombox</span>
                <span class="name">Isaac Charles</span>
            </div>
        </article>

        <article class="roster-item">
            <img src="./img/player/carpe.png" alt="Carpe" class="playerPicture">
            <div class="playerName">
                <span class="nickname">Carpe</span>
                <span class="name">Jaehyeok Lee</span>
            </div>
        </article>

        <article class="roster-item">
            <img src="./img/player/eqo.png" alt="eqo" class="playerPicture">
            <div class="playerName">
                <span class="nickname">eqo</span>
                <span class="name">Josue corona</span>
            </div>
        </article>

        <article class="roster-item">
            <img src="./img/player/fragi.png" alt="Fragi" class="playerPicture">
            <div class="playerName">
                <span class="nickname">Fragi</span>
                <span class="name">Joona Laine</span>
            </div>
        </article >

        <article class="roster-item">
            <img src="./img/player/neptuno.png" alt="neptuno" class="playerPicture">
            <div class="playerName">
                <span class="nickname">neptuno</span>
                <span class="name">Alberto Gonzalez<br>Molinillo</span>
            </div>
        </article>

        <article class="roster-item">
            <img src="./img/player/poko.png" alt="Poko" class="playerPicture">
             <div class="playerName">
                <span class="nickname">Poko</span>
                <span class="name">Gael Gouzerch</span>
            </div>
        </article>

        <article class="roster-item">
            <img src="./img/player/sado.png" alt="Sado" class="playerPicture">
             <div class="playerName">
                <span class="nickname">Sado</span>
                <span class="name">Sumin Kim</span>
            </div>
        </article>

        <article class="roster-item">
            <img src="./img/player/elk.png" alt="elk" class="playerPicture">
             <div class="playerName">
                <span class="nickname">elk</span>
                <span class="name">Elijah Gallagher  </span>
            </div>
        </article>
    </div>
</section>

<div class="bottomBackground">
    <img src="./img/bottombackground.jpg" alt="Phila skin" class="imgBottom">
</div>

{{>footer}}
</body>
</html>
    