{{>head}}
{{>navbar}}
{{>indexheader}}

<section class="sectionContainer">
    <div class="textContainer">
        <h2>What is Philadelphia Fusion</h2>
        <div class="mainDivider">
            <p class="mainText">
                Philadelphia Fusion is an American-based professional Overwatch Esport team based in Philadelphia.
                The Overwatch League is a professional esports league reuniting 20 teams from different country. 
                Special tips : "The more asians you got in your team, the better the team will be, as long they're korean.".
            </p>
            <iframe src="./vid/FusionIntro.mp4" frameborder="0" class="vid"></iframe>
        </div>
    </div>

    <hr>

    <div class="textContainer">
        <h2>What is Overwatch</h2>
        <div class="mainDivider">
            <p class="mainText">
                Overwatch is a team-based multiplayer first-person shooter game developed and 
                published by Blizzard Entertainment and released on May 24 2016. Described 
                as a "Hero shooter", Overwatch assigns players into two teams of six, with 
                each player selecting from a roster of 30 charactes, known as "heroes", each 
                of them has a unique style of play whose roles are divided into three general 
                categories that fit their role.
            </p>
            <iframe src="./vid/OverwatchTrailer.mp4" frameborder="0" class="vid"></iframe>
        </div>
    </div>
</section>

{{>footer}}
</body>
</html>
    
